<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google Review Summarizer</title>
    <link
      href="{{url_for('static', filename='styles/style.css')}}"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Summarized Reviews of {{name}} in {{location}}</h1>

    <div>{{ summary|markdown }}</div>

    <form action="/summarize">
      <label for="url"
        >Enter the name of the location you want to summarize reviews of:</label
      >
      <input type="text" id="name" name="name" required />
      <label for="url"
        >Where is this place located? (Be as specific as possible regarding city
        and country):</label
      >
      <input type="text" id="location" name="location" required />
      <button type="submit">Summarize!</button>
    </form>
  </body>
</html>
